.App {
  font-family: marker felt, cursive;
  text-transform: hover;
  text-decoration: blink;
  text-shadow: 2px 2px 4px #000000;
  color: #a1a7a8;
  background-color: #653276;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:fffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-body {
  font-family: Marker Felt, cursive;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
  background-color: hsl(285, 30%, 28%);
  line-height: 1.5;
  margin: 20px;
  color: #f0f0f0;
}
.App-footer {
  font-family: Marker Felt, cursive;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 2px 4px #000000;
  background-color: hsl(285, 30%, 28%);
  line-height: 1.5;
  margin: 20px;
  color: #f0f0f0;
}